.header{
    height: 60px;
    background:gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__logo{
    color:green;
    font-size: 20px;
}
.headerNav{
    display: flex;
    width: 60%;
    align-items: center;
}
.nav__item {
    display: block;
    text-decoration: none;
    margin-left: 30px;
    color:orange;
}

