  .sliderMenu{
      width: 100%;
      display: flex;
      flex-direction: column;
      
      align-items: center;
      
   }
  .image{
      width: 500px;
      height: 500px;
  }
  
  .SliderArrow{
      cursor: pointer;
      font-size: 50px;
  }
  .SliderArrow:hover{
      color: red;
      font-size: 55px;
      transition: all .3;
      
  }
  .SliderArrow_left{
      float:left;
  }
  .SliderArrow_right{
      float:right;
  }
  .arrows{
      display: flex;
      justify-content: space-between;
  }
  .input{
      font-size: 30px;
     cursor: pointer;
  }

